.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.mein {
  background-color: white;
  margin: 8% 2% 2% 2%;
  border-radius: 4%;
  padding: 20px;
}

li, button {
  cursor: pointer;
}

nav {
  position: relative;
  width: 100%;
  border-bottom: solid gray 0.5px;
}

nav ul {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-left: 10px;
  padding: 0;
}

li {
  float: left;
  list-style-type: none;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

nav button {
  position: absolute;
  right: 0;
  bottom: 40%;
  width: 10%;
  font-size: 25px;
  border-radius: 10px;
  border: solid gray 0.5px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  padding: 4px;
}

h1 {
  margin: 0 20%;
  padding: 2%;
  font-size: 150px;
  overflow-wrap: none;
  text-align: center;
}

p {
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 4%;
}

.gallery_button {
  height: 100px;
  padding: 2px 40px;
  border: solid #04a0dd 1px;
  border-radius: 10px;
  position: relative;
  margin-left: 10%;
  background-color: #04a0dd;
  padding: 25px 40px;
}

.gallery_button a {
  text-align: center;
  font-size: 25px;
  color: white;
}

.gallery_text {
  margin: 10px 10%;
}

.car {
  display: flex;
  height: 60%;
  width: 100%;
  margin: 10% 0;
}

img {
  width: 60%;
  object-fit: scale-down;
  margin: auto;
  border-radius: 6%;
}

h2 {
  position: absolute;
  top: 110%;
  left: 20%;
  background-color: black;
  color: white;
  padding: 60px;
  border-radius: 10%;
  font-size: 30px;
}

.bottom_conteiner {
  margin: 200px 10%;
  display: flex;
  float: left;
}

footer {
  background-color: black;
  color: white;
  border: solid white 1px;
}
