body {
  background-color: black;
}

.mein {
  background-color: white;
  margin: 8% 2% 2% 2%;
  border-radius: 80px;
  padding: 20px;
}

nav {
  margin-top: 0;
  height: 20%;
  border-bottom: solid gray 0.5px;
  width: 100%;
}

nav ul {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 19%;
  right: 5%;
}

li {
  list-style-type: none;
  font-family: Roboto;
  float: right;
  font-size: 20px;
}

h1 {
  font-size: 35px;
  margin: 0.5% 5%;
}

form {
  display: flex;
  margin: 6%;
  width: 80%;
}
